<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MicCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0721B9071E0A599D004BEB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0721B91F1E0A599E004BEB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0721B92A1E0A599E004BEB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0721B9401E0A5D38004BEB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07E7AC7B1E276C83006ECA18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07E7AC891E276C96006ECA18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
